#map {
  width: 90vw;
  height: 75vh;
  margin: 5px auto;
}

.nav {
  z-index: 1;
  display: inline;
}

.col-md-4 {
  margin-bottom: 20px;
}

.card-img-top {
  max-width: 280px;
}

.popup {
  top: 50%;
  left: 50%;
  height: 300px;
  width: 600px;
  z-index: 1;
  position: absolute;
  border: 3px solid black;
  transform: translate(-50%, -50%);
  display: none;
}

.hud {
  height: 50px;
  width: 500px;
  border: 3px solid black;
  text-align: center;
  margin: 0 auto;
}
